form {
    margin-top: 20px;

    .nft-collection-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 10px;

    }

    .loading-shade {
        // position: absolute;
        z-index: 1000;
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
        height: 100%;
        background: rgba(154, 154, 154, 0.81);
        opacity: .90;

        mat-spinner {
            position: relative;
            // z-index: 1000;
            margin: auto auto;
            width: 100%;
            height: 100%;
            // background: blue;
        }
    }
}