@font-face {
  font-family: 'digital-clock-font';
  src: url('./assets/fonts/digital-7/digital-7.ttf');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}