.job-post-list-table-list {

    table.mat-table {
        width: 100%;
    }

    img {
        width: 50px;
        border-radius: 50%;
        padding: 10px 0px;
        /* margin: 0 auto; */
    }



    .job-post-list-filter {
        padding: 20px 0;
        width: 80%;
        margin: 0 auto;

        .mat-form-field {
            font-size: 14px;
            width: 100%;

            input.mat-input-element {
                color: #484a4c;
            }
        }
    }
}


.table-container {
    table {
        width: 100%
    }
}

.tooltip-metadata {
    background: #3f51b5 !important;
    width: 100% !important;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

.wide-column {
    padding: 0 10px;
}