<h1 style="grid-column: span 2;margin: 0px;font-weight: bolder;">ACCOUNT MANAGEMENT</h1>
<p>Before adding a new account to the app, go to <a target="_blank"
        href="https://portal.hedera.com/register">https://portal.hedera.com/register</a> and signup for a FREE
    <b>TESTNET</b> account. Once your account is created, copy your credentials and use it to add new test accounts
    to the app
</p>
<div class="dashboard-wrapper">
    <div class="accounts">

        <app-account></app-account>
    </div>
    <h1 style="grid-column: span 2;margin: 20px 0;font-weight: bolder;">NFT CLASS MANAGEMENT</h1>
    <!-- <mat-divider></mat-divider> -->
    <div class="nft-collection-wrapper">

        <app-nft-collection></app-nft-collection>
        <app-nft-collection-form></app-nft-collection-form>
    </div>

    <h1 style="grid-column: span 2;margin: 20px 0;font-weight: bolder;">JOB POSTING MANAGEMENT</h1>
    <!-- <mat-divider></mat-divider> -->
    <div class="nft-collection-wrapper">

        <app-job-smart-contract></app-job-smart-contract>
        <app-job-smart-contract-form></app-job-smart-contract-form>
    </div>
</div>