* {
  color: black;
}


.dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 50px;
}

.nft-collection-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
}

p {
  font-size: 12px;
  line-height: initial;
}