<h1 mat-dialog-title>Accept Job</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="select-nft-profile-field">
    <mat-label>Who completed the job?</mat-label>
    <mat-select [(value)]="selectedNftProfile">
      <mat-option *ngFor="let nftProfile of data?.nftProfiles" [value]="nftProfile">
        {{ nftProfile.metadata.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Accept</button>
</div>
